<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆界面</title>
    <!--<script  src="../static/js/jquery-3.2.1.js"></script>-->
</head>
<script>
    // $(function () {
    //     var user = $("username");
    //     alert(user);
    // })
</script>
<body>
    <form method="post" action="/welcome">
        <span>用户名：</span> <input id="username" name="username" type="text"/> <br/>
        <span>密码：</span> <input id="password"  name="password" type="password"/> <br/>
        <input id="submit" type="submit">
    </form>
</body>
</html>