<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆界面</title>
    <script type="text/javascript"  src="../js/jquery-3.2.1.js"  th:src="@{/js/jquery-3.2.1.js}"></script>
    <script>
        $(function () {
            // alert(1);
        })
    </script>
</head>
<body>
        <!--必须是post方法。 action默认要是login -->
    <form method="post" action="/myLogin">
        <span>用户名：</span> <input id="username" name="username" type="text"/> <br/>
        <span>密码：</span> <input id="password"  name="password" type="password"/> <br/>
        <input id="submit" type="submit">
    </form>
    <span> <a th:href="@{userInfo/insert.html}">注册测试</a> </span>
    <p th:text="${message}" />
</body>
</html>