<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主菜单</title>
    <script type="text/javascript"  src="../js/jquery-3.2.1.js"  th:src="@{/js/jquery-3.2.1.js}"></script>
    <script>
    $(function () {
        // alert($("#username").html());
    })
    </script>
</head>
<body>
<!-- th:if  如果为假，则后面的text就不会去执行，避免了空指针-->
用户名:<span id="username" th:if="${session.myInfo != null}"   th:text="${session.myInfo.username}" ></span> <br/>
密码:<span  id="password" th:if="${session.myInfo != null}" th:text="${session.myInfo.password}" ></span><br/>
session值:<span id="session"  th:if="${session != null}" th:text="${session.myInfo}" ></span>
    <p th:text="${message}"/>

<div style="width: 500px;margin: 20px auto;text-align: center">
    <table align="center" border="1" cellspacing="0">
        <tr>
            <td>id</td>
            <td>username</td>
            <td>password</td>
            <td>age</td>
            <td>编辑</td>
            <td>删除</td>
        </tr>
        <!--遍历userInfoList。使用了分页工具，传过来的是pageInfo，list是其中一个属性。显示红线，但是没有错-->
        <tr th:each="userInfo:${userInfoList.list}">
            <td th:text="${userInfo.userId}">这里是用户ID</td>
            <td th:text="${userInfo.username}">这里是用户名</td>
            <td th:text="${userInfo.password}">这里是密码</td>
            <td th:text="${userInfo.myAge}">这里是年龄</td>
            <td th:text="${userInfoList.pageNum}">这里是本页的页码</td>
            <!--<a th:href="${update}"></a>-->
            <!--<a th:href="">删除</a>-->
        </tr>
    </table>
    <br/>
    <!--<div>-->
        <a th:href="@{getAll(start=1)}">[首页]</a>
        <a th:href="@{getAll(start=${userInfoList.pageNum-1})}">上一页</a>
        <a th:href="@{getAll(start=${userInfoList.pageNum+1})}">下一页</a>
        <a th:href="@{getAll(start=${userInfoList.pages})}">[尾页]</a>
    <!--</div>-->
</div>
<div> <a th:href="@{../dba/hello}">dba</a> </div>
<div> <a th:href="@{../admin/hello}">admin</a> </div>
<div> <a th:href="@{../user/hello}">user</a> </div>
<div> <a th:href="@{../haha/hello}">haha</a> </div>
</body>
</html>